<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<connectionStrings>
		<add name="TestDb"
			 providerName="System.Data.SQLite.EF6"
			 connectionString="Data Source=|DataDirectory|\test.db;Foreign Keys=True;" />
	</connectionStrings>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.SQLite.SQLiteConnectionFactory, System.Data.SQLite" />
		<providers>
			<provider invariantName="System.Data.SQLite.EF6"
					  type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
			<provider invariantName="System.Data.SQLite"
					  type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<!-- EF6 runtime fallback requires these entries -->
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider"
				 invariant="System.Data.SQLite"
				 description="SQLite Data Provider"
				 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />

			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)"
				 invariant="System.Data.SQLite.EF6"
				 description="SQLite Data Provider (Entity Framework 6)"
				 type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
		</DbProviderFactories>
	</system.data>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
</configuration>
